@import "bower_components/compass-sass-mixins/lib/compass";
@import "variables";

* {
	font-family: $primaryFont;
}

h1.tpk,
h2.tpk,
h3.tpk,
h4.tpk,
h5.tpk,
h6.tpk {
	font-family: $primaryFont;
	line-height: 1.2;
}
h1.tpk {
	font-size: 3rem;
}
h2.tpk  {
	font-size: 2.5rem;
}
h3.tpk  {
	font-size: 2rem;
}
h4.tpk  {
	font-size: 1.5rem;
}
h5.tpk  {
	font-size: 1rem;
}
h6.tpk  {
	font-size: 0.8rem;
}
p.tpk {
	font-family: $primaryFont;
	font-size: 1rem;
	line-height: 1.5;
	color: $primaryColor;
}
a.tpk {
	font-family: $primaryFont;
	font-size: 1rem;
	line-height: 1.2;
	color: $colorLink;
	&:hover {
		text-decoration: none;
	}
}
ul.tpk {
	list-style-type: none;
	margin: 1rem 0;
	padding: 0;
	.item {
		display: list-item;
		table-layout: fixed;
		list-style-type: none;
		list-style-position: outside;
		padding: .5rem 0;
		line-height: 1.2rem;
		img {
			display: inline-block;
			vertical-align: middle !important;
			margin-right: .5rem;
		}
		img.rounded {
			@include border-radius(50%, 50%);
		}
	}
}
ul.tpk.horizontal {
	font-size: 0;
	.item {
		display: inline-block;
		padding: 0 1rem 0 0;
		font-size: 1rem;
	}
}
ol.tpk {
	counter-reset: counter;
	margin-left: 1.25rem;
	.item {
		display: list-item;
		table-layout: fixed;
		list-style-type: none;
		list-style-position: outside;
		padding: .5rem 0;
		line-height: 1.2rem;
		overflow: hidden;
		&:before {
			content: counter(counter);
			counter-increment: counter;
			font-size: 1rem;
			margin-right: .5rem;
			display: inline-block;
			vertical-align: middle;
		}
	}
}