@import "bower_components/compass-sass-mixins/lib/compass";

@mixin button($fontSize: 1em, $baseBgColor: #0093cb, $hoverBgColor: #48CDFF, $baseColor: rgba(255, 255, 255, 0.9), $hoverColor: rgba(0, 0, 0, 0.8), $radius: 5px){
    min-height: 1em;
    button {
        cursor: pointer;
        display: inline-block;
        min-height: 1em;
        outline: none;
        border: none;
        vertical-align: baseline;
        background: $baseBgColor none;
        color: $baseColor;
        line-height: 1em;
        text-transform: none;
        text-shadow: none;
        text-align: center;
        text-decoration: none;
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: $fontSize;
        font-style: normal;
        margin: 0;
        padding: 1em 1.5em 1em;
        @include border-radius($radius);
        box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
        transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
        will-change: '';
        -webkit-tap-highlight-color: transparent;
        &:hover {
            background-color: $hoverBgColor;
            background-image: none;
            box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
            color: $hoverColor;
        }
    }
    &.left,
    &.middle,
    &.right {
        float: left;
    }

    &.left {
        button {
            @include border-radius(5px 0 0 5px);
        }
    }

    
    &.middle {
        button {
            @include border-radius(0);
        }
    }

    
    &.right {
        button {
            @include border-radius(0 5px 5px 0);
        }
    }

    &.icon {
        &.noContent {
            button {
                .fa {
                    padding: 0;
                }
            }
        }
        button {
            .fa {
                color: #fff;
                line-height: 0.99em;
                padding-left: 1em;
            }
        }   
    }

    &.disabled {
        button {
            background-color: lighten( desaturate( $baseBgColor, 40% ), 40%);
            color: lighten( desaturate( $baseColor, 40% ), 40%);
        }
    }
    
}
.button {
    display: inline-block;
    @include button();
    
    &.buttonRed {
        @include button(1em, #CB0000, #DC6C6C, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        button {
            @include border-radius(5px 0);
        }
    }

    &.buttonGreen {
        @include button(1em, #00CB72, #59E0A5);
    }
    
}