@import "bower_components/compass-sass-mixins/lib/compass";
@import "variables";

.input {
	position: relative;
    font-weight: 400;
    font-style: normal;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0,0,0,.87);
    >label {
		display: block;
		margin: 0 0 0.5rem 0;
		font-family: $secondaryFont;
		color: $secondaryColor;
		font-size: 0.8rem;
		font-weight: bold;
		line-height: 1em;
		margin: 1em 1em 1em 0;
	}
    input {
    	@include appearance(none);
	    margin: 0;
	    max-width: 100%;
	    -webkit-box-flex: 1;
	    -webkit-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	    flex: 1 0 auto;
	    outline: 0;
	    -webkit-tap-highlight-color: rgba(255,255,255,0);
	    text-align: left;
	    line-height: 2em;
	    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	    padding: .67861429em 1em;
	    background: #fff;
	    border: 1px solid rgba(34,36,38,.15);
	    color: rgba(0,0,0,.87);
	    border-radius: .28571429rem;
	    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
	    transition: box-shadow .1s ease,border-color .1s ease;
	    box-shadow: none;
	    &:focus {
	    	border-color: #0093cb;
		    background: #fff;
		    color: rgba(0,0,0,.8);
		    box-shadow: none;
	    }

	    /*Checkboxes [START]*/
    	&[type=checkbox] { display:none; } /* to hide the checkbox itself */
		&[type=checkbox] + label:before {
		  font-family: FontAwesome;
		  display: inline-block;
		}

		&[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
		&[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

		&[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
		&[type=checkbox]:checked + label:before { letter-spacing: 8px; } /* allow space for check mark */
		/*Checkboxes [END]*/
	    
    }


    &.error {
    	input {
    		background: rgba(255,0,0,.1);
    		border: 1px solid rgba(255,0,0,.5);
    	}
    }

    .fa {
    	margin-left: -1.2em;
    	line-height: 2.4em;
    }
}

.label {
	label {
		display: block;
		margin: 0 0 0.5rem 0;
		font-family: $secondaryFont;
		color: $secondaryColor;
		font-size: 0.8rem;
		font-weight: bold;
		line-height: 1em;
		margin: 1em 1em 1em 0;
	}
	&.error {
		label {
			color: #f00;
		}
	}
}