@import 'button';
@import 'input';
@import 'baseSite';
@import 'variables';

<<<<<<< HEAD

body{
    color:#fff;
=======
.container {
	width: 960px;
	margin: 0 auto;
>>>>>>> a60392b85b986bd2f2c91b5383281547c97107ad
}

.divider {
	border: 0;
  height: 1px;
  @include background(linear-gradient(to right, white, rgba(0, 0, 0, 0.75), white));
}