@import 'button';
@import 'input';
@import 'baseSite';
@import 'breadcrumb';
@import 'form';
@import 'variables';


.container {
	width: 960px;
	margin: 0 auto;
	.row {
		clear: both;
		margin: 1em 0;
		min-height: 3em;
	}
}

.lineDivider {
	border: 0;
  height: 1px;
  @include background(linear-gradient(to right, white, rgba(0, 0, 0, 0.75), white));
}