@import 'reset';
@import 'button';
@import 'input';
@import 'baseSite';
@import 'breadcrumb';
@import 'form';
@import 'variables';

.container {
	width: 960px;
	margin: 0 auto;
}

.lineDivider {
	border: 0;
  height: 1px;
  @include background(linear-gradient(to right, white, rgba(0, 0, 0, 0.75), white));
}